#donationTable .donationId
{
    min-width: 6em;
}

#donationTable .date
{
    min-width: 10em;
}

#donationTable .munfiqName
{
    min-width: 11em;
}

#donationTable .payment
{
    min-width: 11em;
}

#donationTable .amount
{
    min-width: 6em;
}

#donationTable .status
{
    min-width: 5em;
}