{{ define "navigation-pt" }}
<div id='navPortraitParent'>
    <nav id='navPortrait'>
        <ul id='navPortraitList'>
            <li class='navPortraitItem'>
                <a href='/'>Home</a>
            </li>
            <li class='navPortraitItem'>
                <a href='/about'>About</a>
            </li>
            <li class='navPortraitItem'>
                <a href='/donation'>{{ .T "Donation" }}</a>
            </li>
            <li class='navPortraitItem'>
                <a href='/c'>{{ .T "i" }}</a>
            </li>
            <li class='navPortraitItem' id='navPortraitTheRestHolder'>
                <button type='button' id='navPortraitTheRestButton'>dd</button>
                <ul class='display-none' id='navPortraitTheRest'>
                    <li class='navPortraitTheRestItem'>
                        <a href='/e'>ee</a>
                    </li>
                    <li class='navPortraitTheRestItem'>
                        <div id='navPortraitTheRestSubItemParent'>
                            <div id='navPortraitTheRestSubItemParentDonationText'>
                                <a href='/donation'>Donation</a>
                            </div>
                            <div id='navPortraitTheRestSubItemParentDonationButtonHolder'>
                                <button type='button' id='navPortraitTheRestSubItemParentDonationButton'>ff</button>
                            </div>
                        </div>
                        <ul id='navPortraitTheRestSubItemHolder'>
                            <li class='navPortraitTheRestSubItem'>
                                <a href='/donation/list'>List</a>
                            </li>
                            <li>
                                <a href='/donation/payment'>Payment</a>
                            </li>
                        </ul>
                    </li>
                    {{ if or .Permission.UserInternalAdd .Permission.UserInternalApprove }}
                    <li class='navPortraitTheRestItem' id='navPortraitInternalUser'>
                        <div>
                            <a href='/user/internal/list'>Internal User</a>
                        </div>
                    </li>
                    {{ end }}
                    {{ if eq .User.Type 1 }}
                    <li class='navPortraitTheRestItem' id='navPortraitLogin'>
                        <a href='/login'>Login</a>
                    </li>
                    {{ end }}
                    {{ if eq .User.Type 1 }}
                    <li class='navPortraitTheRestItem' id='navPortraitRegister'>
                        <a href='/user/register'>Signup</a>
                    </li>
                    {{ end }}
                    {{ if ne .User.Type 1 }}
                    <li class='navPortraitTheRestItem linkStyle' id='navPortraitLogout'>
                        <a>Logout {{ .User.Name }}</a>
                    </li>
                    {{ end }}
                </ul>
            </li>
        </ul>
    </nav>
</div>
{{ end }}

{{ define "navigation-pt-ls" }}
<div id='navLandscapeParent'></div>
{{ end }}