{{ define "navigation-ls" }}
<div id='navLandscapeParent'>
	<nav id='navLandscape'>
		<ul id='navLandscapeList'>
			<li class='navLandscapeItem' id='navLandscapeHome'>
				<a href='/'>{{ .T "Home" }}</a>
			</li>
			<li class='navLandscapeItem' id='navLandscapeAbout'>
				<a href='/about'>{{ .T "About" }}</a>
			</li>
			<li class='navLandscapeItem' id='navLandscapeDonation'>
				<div>
					<a href='/donation'>Donation</a>
				</div>
				<ul>
					<li class='navLandscapeSubItem' id='navLandscapeDonationPayment'>
						<div>
							<a href='/donation/payment'>Payment</a>
						</div>
						<ul>
							<li>
								<div>
									{{ if eq .User.Type 1 }}
									<a href='/donation/payment/anonym/bankTransfer'>Bank Transfer</a>
									{{ else }}
									<a href='/donation/payment/user/bankTransfer'>Bank Transfer</a>
									{{ end }}
								</div>
								<ul>
									<li>
										{{ if eq .User.Type 1 }}
										<a href='/donation/payment/anonym/bankTransfer/confirm'>{{ .T "Confirmation" }}</a>
										{{ else }}
										<a href='/donation/payment/user/bankTransfer/confirm'>{{ .T "Confirmation" }}</a>
										{{ end }}
									</li>
								</ul>
							</li>
						</ul>
					</li>
					<li class='navLandscapeSubItem' id='navLandscapeDonationList'>
						<a href='/donation/list'>List</a>
					</li>
				</ul>
			</li>
			{{ if or .Permission.UserInternalAdd .Permission.UserInternalApprove }}
			<li class='navLandscapeItem' id='navLandscapeInternalUser'>
				<div>
					<a href='/user/internal/list'>Internal User</a>
				</div>
			</li>
			{{ end }}
			{{ if eq .User.Type 1 }}
			<li class='navLandscapeItem' id='navLandscapeLogin'>
				<a href='/login'>Login</a>
			</li>
			{{ end }}
			{{ if eq .User.Type 1 }}
			<li class='navLandscapeItem' id='navLandscapeRegister'>
				<a href='/user/register'>Signup</a>
			</li>
			{{ end }}
			{{ if ne .User.Type 1 }}
			<li class='navLandscapeItem linkStyle' id='navLandscapeLogout'>
				<a>Logout {{ .User.Name }}</a>
			</li>
			{{ end }}
		</ul>
	</nav>
</div>
{{ end }}

{{ define "navigation-ls-pt" }}
<div id='navPortraitParent'></div>
{{ end }}