{{ define "content-pt" }}
<h1>Internal User View</h1>
<div id='internalUserMessage' class='loading'>Loading ...</div>
<div class='view spacer-top'>
    <div class='field'>
        <div class='label'>Id</div>
        <div id='internalUserIdField'><span class='loading'>Loading...</span>
        </div>
    </div>
    <div class='field'>
        <div class='label'>Name</div>
        <div>
            <span id='nameField'><span class='loading'>Loading...</span></span>
        </div>
    </div>
    <div class='field'>
        <div class='label'>Contact</div>
        <div>
            <span id='contactField'><span class='loading'>Loading...</span></span>
        </div>
    </div>
    <div class='field'>
        <div class='label'>Request date time</div>
        <div>
            <span id='dateTimeField'><span class='loading'>Loading...</span></span>
        </div>
    </div>
    <div class='field'>
        <div class='label'>Request by</div>
        <div>
            <span id='addNameField'><span class='loading'>Loading...</span></span>
        </div>
    </div>
    <div class='field'>
        <div class='label'>Status</div>
        <div>
            <span id='statusField'><span class='loading'>Loading...</span></span>
        </div>
    </div>
    <div class='spacer-top'></div>
    <div class='field nonNew' id='editNameRow'>
        <div class='label'>Update by</div>
        <div>
            <span id='editNameField'><span class='loading'>Loading...</span></span>
        </div>
    </div>
    <div class='field nonNew' id='editDateTimeRow'>
        <div class='label'>Update date time</div>
        <div>
            <span id='editDateTimeField'><span class='loading'>Loading...</span></span>
        </div>
    </div>
    <div class='field display-none' id='descriptionRow'>
        <div class='label'>Description</div>
        <div>
            <span id='descriptionField'><span class='loading'>Loading...</span></span>
        </div>
    </div>
    {{ if or .Permission.UserInternalAdd .Permission.UserInternalApprove }}
    {{ if .Permission.UserInternalApprove }}
    <div class='message spacer-top'>
        <div id='approveMessage'>&nbsp;</div>
    </div>
    {{ end }}
    <div class='button spacer-top display-none' id='buttonRow'>
        {{ if .Permission.UserInternalAdd }}
        <button type='button' id='cancelButton'>Cancel</button>
        {{ end }}
        {{ if .Permission.UserInternalApprove }}
        <button type='button' id='approveButton'>Approve</button>
        <button type='button' id='rejectButton'>Reject</button>
        {{ end }}
    </div>
    {{ end }}
</div>
{{ if or .Permission.UserInternalAdd .Permission.UserInternalApprove }}
<dialog id='cancelRejectDialog'>
    <form id='cancelRejectForm'>
        <div class='field'>
            <div class='label'>Description</div>
            <div>
                <textarea id='descriptionInput' maxlength='255' required></textarea>
            </div>
        </div>
        <div class='message spacer-top'>
            <div id='cancelRejectMessage'>&nbsp;</div>
        </div>
        <div class='button spacer-top' id='buttonRow'>
            {{ if .Permission.UserInternalAdd }}
            <button type='button' id='cancel2Button' class='display-none'>Cancel</button>
            {{ end }}
            {{ if .Permission.UserInternalApprove }}
            <button type='button' id='reject2Button' class='display-none'>Reject</button>
            {{ end }}
            <button type='button' id='cancelRejectCloseButton'>{{ .T "Close" }}</button>
        </div>
    </form>
</dialog>
{{ end }}
{{ end }}