{{ define "content-ls" }}
<h1>{{ .T .Title }}</h1>
<div id='viewMessage' class='loading'>Loading ...</div>
<div class='view spacer-top'>
    <div class='field'>
        <div class='label'>Donation Id</div>
        <div class='value' id='donationId'></div>
    </div>
    <div class='field'>
        <div class='label'>Date</div>
        <div class='value' id='dateTime'></div>
    </div>
    <div class='field'>
        <div class='label'>Munfiq Name</div>
        <div class='value' id='munfiqName'></div>
    </div>
    <div class='field'>
        <div class='label'>Payment</div>
        <div class='value' id='payment'></div>
    </div>
    <div class='field'>
        <div class='label'>Amount</div>
        <div class='value' id='amount'></div>
    </div>
    <div class='field'>
        <div class='label'>Status</div>
        <div class='value' id='status'></div>
    </div>

    {{ if or .Permission.DonationStatusRequest .Permission.DonationStatusApprove }}
    <div class='button spacer-top display-none' id='buttonRow'>

        {{ if or .Permission.DonationStatusRequest .Permission.DonationStatusApprove }}
        <button type='button' id='approveButton'>Approve</button>
        <button type='button' id='rejectButton'>Reject</button>
        {{ end }}

    </div>
    {{ end }}

</div>
{{ end }}